{% extends 'base.html.twig' %}

{% block body %}
	<div id="wrapper">
		<div id="container">
			<div id="welcome">
				<h1><span>Welcome to</span> Tic-Tac-Toe game</h1>
			</div>
			<div id="info">
				<p>
					Your playerId is <span>{{ playerId }}</span>,<br/>
					press <u>Enter Game</u> to start.
				</p>
				<form method="POST" action="{{ path('game') }}">
					<input type="hidden" name="playerId" value="{{ playerId }}"/>
					<input type="submit" value="Enter Game">
				</form>
			</div>



		</div>
	</div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
